.search-bar{
    width:100%;
    justify-content:center;
    
    input{
        width:90%;
        padding:20px;
    }
    button{
        width:10%;
    }
}

/*pdf*/
.section{
    border-bottom:4px dotted var(--black);
    padding-bottom:10px;
    margin:10px 0px;
}

#search-container{
    justify-content:center;
    gap:20px;
    flex-direction:column;
}

#pdf-container{
    border:3px solid var(--black);
    margin:20px;
    padding:20px;
}


#searching-pdf{
    
    padding:20px;
    font-size:20px;
    height:100vh;

    .flex{
        
        gap:80px;
        label{
            width:200rem;
        }

        
    }
}

#searching-result{
    padding:20px;
    border:2px solid var(--black);
    width:100%;
    

    .flex{
        
        gap:20px;
        label{
            width:200rem;
        }

        
    }
    
}
/*ปุ่มโหลด pdf*/
#dowloadfile{
    margin-top:20px;
}


@media only screen and (max-width:1072px){

    .search-bar{
        input{
            width:70%;
        }

        button{
            width:30%;
        }
    }
    

    
}